* {
  font-family: Segoe UI Emoji, Avenir Next, Avenir, Segoe UI, Helvetica Neue,
    Helvetica, sans-serif !important;
}

.light .stamp .reply a,
.light .stamp .reply a:hover,
a:hover {
  background-color: initial;
  color: currentColor;
}

.ui-roundedbox {
  background-color: #fff;
  border-radius: 8px;
}

.ui-roundedbox-corner {
  background: none;
}

.test_feature:after {
  display: none;
}

@keyframes sf-fade-in {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes sf-bl-blinking {
  0% {
    box-shadow: inset 0 999px 0 hsla(0, 0%, 67.5%, 0), inset 0 1px 0 #fff,
      0 1px 0 rgba(0, 0, 0, 0.09);
  }

  50% {
    box-shadow: inset 0 999px 0 hsla(0, 0%, 67.5%, 0.2), inset 0 1px 0 #fff,
      0 1px 0 rgba(0, 0, 0, 0.09);
  }

  to {
    box-shadow: inset 0 999px 0 hsla(0, 0%, 67.5%, 0), inset 0 1px 0 #fff,
      0 1px 0 rgba(0, 0, 0, 0.09);
  }
}

@keyframes sf-bh-blinking {
  0% {
    box-shadow: inset 0 999px 0 rgba(0, 115, 215, 0), inset 0 1px 0 #fff,
      0 1px 0 rgba(0, 0, 0, 0.09);
  }

  50% {
    box-shadow: inset 0 999px 0 rgba(0, 115, 215, 0.2), inset 0 1px 0 #fff,
      0 1px 0 rgba(0, 0, 0, 0.09);
  }

  to {
    box-shadow: inset 0 999px 0 rgba(0, 115, 215, 0), inset 0 1px 0 #fff,
      0 1px 0 rgba(0, 0, 0, 0.09);
  }
}

.sf-animation-off {
  animation: none;
}

#goodapp a:hover strong,
#sidebar a:hover,
a {
  text-decoration: none;
}

a:hover .label {
  border-bottom: unset;
}

span.op a.delete,
span.op a.reply,
span.op a.repost,
span.op a.share {
  width: 20px !important;
  background: no-repeat !important;
  color: transparent !important;
  overflow: hidden;
}

span.op a.reply {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iYSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSI4LjUiIHkxPSIxNjAiIHgyPSI4LjUiIHkyPSIxNzMiIGdyYWRpZW50VHJhbnNmb3JtPSJtYXRyaXgoLjk0MTIgMCAwIDEuMDc2OTggMCAtMTcyLjMxNikiPjxzdG9wIG9mZnNldD0iMCIgc3RvcC1jb2xvcj0iIzhjOGM4YyIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iI2NjYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxwYXRoIGQ9Ik04IDBMMCA2LjA3M2w4IDYuMDc0VjguMDk2czYgMCA4IDUuOTA0YzAtOS45NTItOC05Ljk1Mi04LTkuOTUyVjB6IiBmaWxsPSJ1cmwoI2EpIi8+PC9zdmc+) !important;
  background-position-y: 2px !important;
}

span.op a.reply:hover {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iYSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSI4LjUiIHkxPSIxNjAiIHgyPSI4LjUiIHkyPSIxNzMiIGdyYWRpZW50VHJhbnNmb3JtPSJtYXRyaXgoLjk0MTAyIC0uMDE4NiAuMDIxMTUgMS4wNjk5MyAtMy4zODMgLTE3MS4wMykiPjxzdG9wIG9mZnNldD0iMCIgc3RvcC1jb2xvcj0iIzhjOGM4YyIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iIzhjOGM4YyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxwYXRoIGQ9Ik04IDBMMCA2LjA3M2w4IDYuMDc0VjguMDk2czYgMCA4IDUuOTA0YzAtOS45NTItOC05Ljk1Mi04LTkuOTUyVjB6IiBmaWxsPSJ1cmwoI2EpIi8+PC9zdmc+) !important;
}

span.op a.reply:active {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iYSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSI4LjUiIHkxPSIxNjAiIHgyPSI4LjUiIHkyPSIxNzMiIGdyYWRpZW50VHJhbnNmb3JtPSJtYXRyaXgoLjk0MTIgMCAwIDEuMDc2OTggMCAtMTcyLjMxNikiIHNwcmVhZE1ldGhvZD0icGFkIj48c3RvcCBvZmZzZXQ9IjAiIHN0b3AtY29sb3I9IiMzYjcwYjAiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiM4NGMwZWIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cGF0aCBkPSJNOCAwTDAgNi4wNzNsOCA2LjA3NFY4LjA5NnM2IDAgOCA1LjkwNGMwLTkuOTUyLTgtOS45NTItOC05Ljk1MlYweiIgZmlsbD0idXJsKCNhKSIvPjwvc3ZnPg==) !important;
}

span.op a.share {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOmJ4PSJodHRwczovL2JveHktc3ZnLmNvbSI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJhIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjE0OC45MzMiIHkxPSIxMTYuOTU3IiB4Mj0iMTQ4LjkzMyIgeTI9IjIxMi4wNjIiIGdyYWRpZW50VHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTE2LjgxNyAtMTkuODgpIHNjYWxlKC4xNjk5OCkiPjxzdG9wIG9mZnNldD0iMCIgc3RvcC1jb2xvcj0iIzhjOGM4YyIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iI2NjYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxwYXRoIGQ9Ik04LjQ5OSAwTDEwLjYgNi4wNDVsNi4zOTkuMTMtNS4xIDMuODY3IDEuODUzIDYuMTI1LTUuMjUzLTMuNjU1LTUuMjUzIDMuNjU1IDEuODUzLTYuMTI1LTUuMS0zLjg2NyA2LjM5OS0uMTN6IiBieDpzaGFwZT0ic3RhciA4LjQ5OSA4LjkzNyA4LjkzNyA4LjkzNyAwLjQgNSAxQDgzNGEwYmY4IiBmaWxsPSJ1cmwoI2EpIi8+PC9zdmc+) !important;
}

span.op a.share:hover {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOmJ4PSJodHRwczovL2JveHktc3ZnLmNvbSI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJhIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjE0OC45MzMiIHkxPSIxMTYuOTU3IiB4Mj0iMTQ4LjkzMyIgeTI9IjIxMi4wNjIiIGdyYWRpZW50VHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTE2LjgxNyAtMTkuODgpIHNjYWxlKC4xNjk5OCkiPjxzdG9wIG9mZnNldD0iMCIgc3RvcC1jb2xvcj0iIzhjOGM4YyIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iIzhjOGM4YyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxwYXRoIGQ9Ik04LjQ5OSAwTDEwLjYgNi4wNDVsNi4zOTkuMTMtNS4xIDMuODY3IDEuODUzIDYuMTI1LTUuMjUzLTMuNjU1LTUuMjUzIDMuNjU1IDEuODUzLTYuMTI1LTUuMS0zLjg2NyA2LjM5OS0uMTN6IiBieDpzaGFwZT0ic3RhciA4LjQ5OSA4LjkzNyA4LjkzNyA4LjkzNyAwLjQgNSAxQDgzNGEwYmY4IiBmaWxsPSJ1cmwoI2EpIi8+PC9zdmc+) !important;
}

span.op a.share:active {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOmJ4PSJodHRwczovL2JveHktc3ZnLmNvbSI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJhIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjE0OC45MzMiIHkxPSIxMTYuOTU3IiB4Mj0iMTQ4LjkzMyIgeTI9IjIxMi4wNjIiIGdyYWRpZW50VHJhbnNmb3JtPSJtYXRyaXgoLjE2OTk3IC0uMDAxNjggLjAwMTY3IC4xNjkxNSAtMTcuMDEgLTE5LjUzMykiPjxzdG9wIG9mZnNldD0iMCIgc3RvcC1jb2xvcj0iIzNiNzBiMCIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iIzg0YzBlYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxwYXRoIGQ9Ik04LjQ5OSAwTDEwLjYgNi4wNDVsNi4zOTkuMTMtNS4xIDMuODY3IDEuODUzIDYuMTI1LTUuMjUzLTMuNjU1LTUuMjUzIDMuNjU1IDEuODUzLTYuMTI1LTUuMS0zLjg2NyA2LjM5OS0uMTN6IiBieDpzaGFwZT0ic3RhciA4LjQ5OSA4LjkzNyA4LjkzNyA4LjkzNyAwLjQgNSAxQDgzNGEwYmY4IiBmaWxsPSJ1cmwoI2EpIi8+PC9zdmc+) !important;
}

span.op a.delete {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iYSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSI4IiB5MT0iMCIgeDI9IjgiIHkyPSIxNiIgZ3JhZGllbnRUcmFuc2Zvcm09InNjYWxlKC44NzUpIj48c3RvcCBvZmZzZXQ9IjAiIHN0b3AtY29sb3I9IiM4YzhjOGMiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiNjY2MiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cGF0aCBkPSJNMi43NjYgMEw3IDQuMjM0IDExLjIzNCAwIDE0IDIuNzY2IDkuNzY2IDcgMTQgMTEuMjM0IDExLjIzNCAxNCA3IDkuNzY2IDIuNzY2IDE0IDAgMTEuMjM0IDQuMjM0IDcgMCAyLjc2NnoiIGZpbGw9InVybCgjYSkiLz48L3N2Zz4=) !important;
  background-position-x: 1px !important;
}

span.op a.delete:hover {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0yLjc2NiAwTDcgNC4yMzQgMTEuMjM0IDAgMTQgMi43NjYgOS43NjYgNyAxNCAxMS4yMzQgMTEuMjM0IDE0IDcgOS43NjYgMi43NjYgMTQgMCAxMS4yMzQgNC4yMzQgNyAwIDIuNzY2eiIgZmlsbD0iIzhjOGM4YyIvPjwvc3ZnPg==) !important;
}

span.op a.delete:active {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iYSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSI4IiB5MT0iMCIgeDI9IjgiIHkyPSIxNiIgZ3JhZGllbnRUcmFuc2Zvcm09InNjYWxlKC44NzUpIj48c3RvcCBvZmZzZXQ9IjAiIHN0b3AtY29sb3I9IiMzYjcwYjAiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiM4NGMwZWIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cGF0aCBkPSJNMi43NjYgMEw3IDQuMjM0IDExLjIzNCAwIDE0IDIuNzY2IDkuNzY2IDcgMTQgMTEuMjM0IDExLjIzNCAxNCA3IDkuNzY2IDIuNzY2IDE0IDAgMTEuMjM0IDQuMjM0IDcgMCAyLjc2NnoiIGZpbGw9InVybCgjYSkiLz48L3N2Zz4=) !important;
}

span.op a.faved {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOmJ4PSJodHRwczovL2JveHktc3ZnLmNvbSI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJhIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjE0OC45MzMiIHkxPSIxMTYuOTU3IiB4Mj0iMTQ4LjkzMyIgeTI9IjIxMi4wNjIiIGdyYWRpZW50VHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTE2Ljc1OCAtMTkuOTIyKSBzY2FsZSguMTY5OTgpIiBzcHJlYWRNZXRob2Q9InBhZCI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjZmRlZDYwIi8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjZjdjOTMzIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHBhdGggZD0iTTguNDk5IDBMMTAuNiA2LjA0NWw2LjM5OS4xMy01LjEgMy44NjcgMS44NTMgNi4xMjUtNS4yNTMtMy42NTUtNS4yNTMgMy42NTUgMS44NTMtNi4xMjUtNS4xLTMuODY3IDYuMzk5LS4xM3oiIGJ4OnNoYXBlPSJzdGFyIDguNDk5IDguOTM3IDguOTM3IDguOTM3IDAuNCA1IDFAODM0YTBiZjgiIGZpbGw9InVybCgjYSkiLz48L3N2Zz4=) !important;
}

span.op a.faved:hover {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOmJ4PSJodHRwczovL2JveHktc3ZnLmNvbSI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJhIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjE0OC45MzMiIHkxPSIxMTYuOTU3IiB4Mj0iMTQ4LjkzMyIgeTI9IjIxMi4wNjIiIGdyYWRpZW50VHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTE2Ljc1OCAtMTkuOTIyKSBzY2FsZSguMTY5OTgpIiBzcHJlYWRNZXRob2Q9InBhZCI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjZGNkY2RjIi8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSJzaWx2ZXIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cGF0aCBkPSJNOC40OTkgMEwxMC42IDYuMDQ1bDYuMzk5LjEzLTUuMSAzLjg2NyAxLjg1MyA2LjEyNS01LjI1My0zLjY1NS01LjI1MyAzLjY1NSAxLjg1My02LjEyNS01LjEtMy44NjcgNi4zOTktLjEzeiIgYng6c2hhcGU9InN0YXIgOC40OTkgOC45MzcgOC45MzcgOC45MzcgMC40IDUgMUA4MzRhMGJmOCIgZmlsbD0idXJsKCNhKSIvPjwvc3ZnPg==) !important;
}

span.op a.faved:active {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOmJ4PSJodHRwczovL2JveHktc3ZnLmNvbSI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJhIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjE0OC45MzMiIHkxPSIxMTYuOTU3IiB4Mj0iMTQ4LjkzMyIgeTI9IjIxMi4wNjIiIGdyYWRpZW50VHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTE2LjgxNyAtMTkuODgpIHNjYWxlKC4xNjk5OCkiPjxzdG9wIG9mZnNldD0iMCIgc3RvcC1jb2xvcj0iIzhjOGM4YyIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iI2NjYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxwYXRoIGQ9Ik04LjQ5OSAwTDEwLjYgNi4wNDVsNi4zOTkuMTMtNS4xIDMuODY3IDEuODUzIDYuMTI1LTUuMjUzLTMuNjU1LTUuMjUzIDMuNjU1IDEuODUzLTYuMTI1LTUuMS0zLjg2NyA2LjM5OS0uMTN6IiBieDpzaGFwZT0ic3RhciA4LjQ5OSA4LjkzNyA4LjkzNyA4LjkzNyAwLjQgNSAxQDgzNGEwYmY4IiBmaWxsPSJ1cmwoI2EpIi8+PC9zdmc+) !important;
}

span.op a.repost {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iYSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSI3LjUiIHkxPSIuNjE2IiB4Mj0iNy41IiB5Mj0iMTMuNjQ1IiBncmFkaWVudFRyYW5zZm9ybT0idHJhbnNsYXRlKC0uNDUgLS42OTQpIHNjYWxlKDEuMTI2NzYpIj48c3RvcCBvZmZzZXQ9IjAiIHN0b3AtY29sb3I9IiM4YzhjOGMiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiNjY2MiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cGF0aCBkPSJNMCA0LjM5NGg3Ljc3NXY1Ljg5MkgwVjQuMzk0em0xNiAyLjk0N2wtOC4yMjUgNy4zNFYwTDE2IDcuMzQxeiIgZmlsbD0idXJsKCNhKSIvPjwvc3ZnPg==) !important;
  background-position: 1px 1px !important;
}

span.op a.repost:hover {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iYSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSI3LjUiIHkxPSIuNjE2IiB4Mj0iNy41IiB5Mj0iMTMuNjQ1IiBncmFkaWVudFRyYW5zZm9ybT0idHJhbnNsYXRlKC0uNDUgLS42OTQpIHNjYWxlKDEuMTI2NzYpIj48c3RvcCBvZmZzZXQ9IjAiIHN0b3AtY29sb3I9IiM4YzhjOGMiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiM4YzhjOGMiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cGF0aCBkPSJNMCA0LjM5NGg3Ljc3NXY1Ljg5MkgwVjQuMzk0em0xNiAyLjk0N2wtOC4yMjUgNy4zNFYwTDE2IDcuMzQxeiIgZmlsbD0idXJsKCNhKSIvPjwvc3ZnPg==) !important;
}

span.op a.repost:active {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iYSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSI3LjUiIHkxPSIuNjE2IiB4Mj0iNy41IiB5Mj0iMTMuNjQ1IiBncmFkaWVudFRyYW5zZm9ybT0ibWF0cml4KDEuMTI2NzQgLjAwNzQ0IC0uMDA3MzggMS4xMTc1NCAtLjM1IC0uNjI0KSI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjM2I3MGIwIi8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjODRjMGViIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHBhdGggZD0iTTAgNC4zOTRoNy43NzV2NS44OTJIMFY0LjM5NHptMTYgMi45NDdsLTguMjI1IDcuMzRWMEwxNiA3LjM0MXoiIGZpbGw9InVybCgjYSkiLz48L3N2Zz4=) !important;
}

#stream ol:not(.wa) li {
  width: 100%;
  box-sizing: border-box;
  padding: 12px 33px 12px 8px;
}

#stream .wa li {
  width: 100%;
  box-sizing: border-box;
  padding: 9px 33px 9px 67px;
}

#stream .wa li .avatar {
  margin-left: -58px;
}

#columns {
  border-radius: 8px;
}

#main {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

#sidebar {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.errmsg,
.sysmsg {
  font-size: 14px;
  padding: 8px 15px !important;
  border: 0 !important;
  text-align: center;
  z-index: 101;
  box-shadow: 0 0 5px #666;
}

.sysmsg {
  color: #555 !important;
  background: hsla(0, 0%, 100%, 0.9) !important;
  text-shadow: 0 1px 0 #fff;
}

.errmsg {
  color: hsla(0, 0%, 100%, 0.75) !important;
  background: rgba(255, 51, 0, 0.8) !important;
  text-shadow: 0 -1px 0 rgba(102, 20, 0, 0.75);
}

#systip {
  background: #ebf3f5 !important;
  border: 3px solid #b4d5db !important;
  border-radius: 5px;
}

#systip h3 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#systip div {
  border-top: 1px solid hsla(0, 0%, 100%, 0.75) !important;
}

#newsfeed ul {
  border-top: 1px solid #eee !important;
}

#newsfeed ul li {
  height: auto !important;
  background: url(/assets/images/dot.png) 5px no-repeat !important;
  line-height: 2.4 !important;
  list-style: none;
  border-bottom: 1px solid #eee !important;
}

.tabs ul {
  margin-bottom: -2px !important;
}

#phupdate {
  margin-bottom: 7px;
}

.slogan {
  text-indent: 0;
  background: transparent;
}

#phupdate .tip .counter,
#PopupBox .tip .counter,
#sf-counter,
#update .tip .counter {
  font-size: 18px;
  font-weight: 400;
}

#message .textarea-wrapper,
#phupdate .textarea-wrapper {
  border: 0;
  width: 100%;
}

#phupdate textarea {
  width: 490px;
}

.textarea-wrapper-active {
  border: 0;
}

.upload-button-wrapper {
  padding-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.web-upload-photo-file-name {
  border-top: none;
  margin: 0;
  padding: 5px 0 0;
}

#finder_emailarea,
#invite-url,
#message textarea,
#phupdate textarea,
#PopupBox textarea,
#sharer textarea,
#update textarea,
.input_text,
.settings textarea {
  padding: 4px;
  background: hsla(0, 0%, 100%, 0.75);
  border: 1px solid #bdbdbd !important;
  border-radius: 4px;
  box-shadow: none !important;
  resize: none;
  transition-property: background, height, border, box-shadow;
  transition-duration: 0.25s;
}

#finder_emailarea:hover,
#invite-url:hover,
#message textarea:hover,
#phupdate textarea:hover,
#PopupBox textarea:hover,
#sharer textarea:hover,
#update textarea:hover,
.input_text:hover,
.settings textarea:hover {
  background: #fff;
  border-color: #9e9e9e !important;
  box-shadow: inset 0 0 8px rgba(158, 158, 168, 0.1) !important;
}

#finder_emailarea:focus,
#invite-url:focus,
#message textarea:focus,
#phupdate textarea:focus,
#PopupBox textarea:focus,
#sharer textarea:focus,
#update textarea:focus,
.input_text:focus,
.settings textarea:focus {
  border-color: #2196f3 !important;
  box-shadow: inset 0 0 8px rgba(33, 150, 243, 0.1) !important;
  outline: none;
}

#finder_emailarea[disabled],
#finder_emailarea[disabled]:hover,
#invite-url[disabled],
#invite-url[disabled]:hover,
#message textarea[disabled],
#message textarea[disabled]:hover,
#phupdate textarea[disabled],
#phupdate textarea[disabled]:hover,
#PopupBox textarea[disabled],
#PopupBox textarea[disabled]:hover,
#sharer textarea[disabled],
#sharer textarea[disabled]:hover,
#update textarea[disabled],
#update textarea[disabled]:hover,
.formdisabled,
.input_text[disabled],
.input_text[disabled]:hover,
.settings textarea[disabled],
.settings textarea[disabled]:hover {
  color: #777;
  text-shadow: 0 1px 0 #fff;
  background: hsla(0, 0%, 91.8%, 0.25);
  border-color: #bdbdbd !important;
}

#phupdate .act {
  position: static;
}

#phupdate .act .loading {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(0);
}

#PopupBox {
  border: 3px solid rgba(0, 0, 0, 0.5);
  background: hsla(0, 0%, 100%, 0.9);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  z-index: 3 !important;
  animation: sf-fade-in 0.1s;
}

#PopupUpdate {
  left: 37px !important;
}

#PopupUpdate .tip {
  left: 470px !important;
}

#PopupUpdate .formbutton {
  left: 24px !important;
}

#update .act {
  padding: 0 0 2px !important;
  min-height: 37px;
}

#upload-button {
  width: 24px;
  height: 20px;
  background: url('./uploading-image-icons.svg') !important;
  background-repeat: no-repeat;
  background-position: 0 0 !important;
}

#location-button {
  width: 14px;
  height: 21px;
  background: url(/assets/images/location.svg) !important;
  background-repeat: no-repeat;
  background-position: 0 0;
}

#location-button:hover,
#location-button[title='关闭地理位置'] {
  background-position: 100% 0 !important;
}

.location-button-wrapper,
.upload-button-wrapper {
  transition: opacity 0.3s;
}

.upload-button-wrapper:hover #upload-button {
  background-position: 100% 0 !important;
}

#upload-button.sf-image-attached {
  background-position: 0 100% !important;
}

.upload-button-wrapper:hover #upload-button.sf-image-attached {
  background-position: 100% 100% !important;
}

.sl-file {
  margin: 3px 3px 0 0;
  width: 23px !important;
}

.web-upload-photo-file-name {
  left: 0;
}

#location-button:hover {
  background-position: 100% 0;
}

.ui-autocomplete {
  background: hsla(0, 0%, 100%, 0.95) !important;
  animation: sf-fade-in 0.2s;
}

#main.privatemsg #update .act .loading {
  display: none;
}

#timeline-notification,
.sysnotice {
  text-align: center;
  border-radius: 4px;
}

#timeline-notification a {
  position: relative;
}

#timeline-notification a,
.sysnotice {
  margin-bottom: 10px;
  background: #fff8e1 !important;
  color: #795548;
  border: 1px solid #ffecb3 !important;
  border-radius: 4px;
}

#timeline-notification a:hover,
.sysnotice:hover {
  background: #ffecb3 !important;
  color: #795548;
}

#timeline-notification a:before {
  position: absolute;
  left: -1px;
  top: -1px;
  z-index: 1;
  content: '';
  height: 100%;
  width: 0;
  transition: width 0.1s ease;
  user-select: none;
}

.sysnotice {
  cursor: default;
}

.sysnotice:hover {
  margin-bottom: 10px !important;
}

.sysnotice a:hover {
  text-shadow: none;
}

#blacklist.inner-content h2,
#friends.inner-content h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

#stream .solo {
  border-top-color: #eee;
  border-top-style: solid;
}

#stream h3,
#stream li {
  border-bottom-color: #eee;
  border-bottom-style: solid;
}

#stream li.light:not(.latest) {
  background-color: #fafafa;
}

#stream.message li .content strong,
#stream.search li dl strong {
  color: #f44336 !important;
  font-weight: 600 !important;
}

#stream.message li a.author {
  float: none !important;
  margin: 0 !important;
  color: inherit;
  font-weight: 600;
  line-height: 1.6;
}

#stream li .content {
  display: block;
  line-height: 1.6;
  word-break: break-word;
}

#stream li .content a.former,
#stream li .content a.nickquery {
  text-decoration: none !important;
}

#stream li .content a.photo {
  border-radius: 0 !important;
}

#stream li .content a.photo img {
  max-width: 100px;
  max-height: 100px;
  padding: 0;
  border: 0;
}

#stream li .content a.zoom.gif span {
  right: 0 !important;
  bottom: 0 !important;
}

#stream li .content a.zoom.gif span:after {
  opacity: 1 !important;
  padding: 0 4px !important;
  background: rgba(0, 0, 0, 0.5) !important;
  font: inherit !important;
  font-size: 10px !important;
  font-weight: inherit !important;
  border-radius: 0 !important;
  backdrop-filter: saturate(100%) blur(30px);
  -webkit-backdrop-filter: saturate(100%) blur(30px);
}

.light .stamp .reply a,
.stamp a {
  border-bottom: none !important;
  border-radius: 0 !important;
}

.star {
  width: 32px;
  height: 32px;
  top: -5px;
  right: -5px;
  background: url(/assets/images/star.svg) 0 0 no-repeat;
}

span.ajaxprompt {
  padding: 0.6em 1em !important;
  font-weight: 400 !important;
  color: #fff !important;
  background: rgba(0, 0, 0, 0.65) !important;
  border-radius: 3px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}

p.pm-parent {
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.09);
  background: hsla(0, 0%, 39.2%, 0.105) !important;
  border-radius: 3px;
}

#user_top:first-child > h3 {
  font-weight: 400 !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-font-smoothing: antialiased;
}

#user_top img {
  border-radius: 2px;
}

#user_stats .count {
  font-size: 18px !important;
  font-weight: 400 !important;
  margin-bottom: 3px;
}

#iconset {
  height: 17px;
  overflow: hidden;
}

#iconset img {
  padding-top: 34px;
  opacity: 0.75;
  height: 16px !important;
  background-position: 50%;
  transition-property: opacity;
  transition-duration: 0.3s;
}

#iconset img:hover {
  opacity: 1;
}

#iconset img[src$='ico-email-default.gif'],
#iconset img[src$='ico-email-gmail.gif'] {
  background: url(/assets/images/mail.svg) no-repeat 0 4px;
  background-size: 15px;
}

#iconset img[src$='ico-wlm.gif'] {
  background: url(/assets/images/msn.svg) no-repeat 0 2px;
  background-size: 16px;
}

#iconset img[src$='ico-gtalk.gif'] {
  background: url(/assets/images/gtalk.svg) no-repeat 1px 2px;
  background-size: 15px;
}

#iconset img[src$='ico-mobile.gif'] {
  background: url(/assets/images/mobile.svg) no-repeat 0 1px;
  background-size: 9px;
}

#iconset img[src$='ico-verify.png'] {
  background: url(/assets/images/verify.svg) no-repeat 0 0;
  background-size: 17px;
}

.rssfeed {
  background: url(/assets/images/rss.svg) no-repeat 0 2px !important;
  background-size: 13px !important;
}

#user_infos {
  margin-bottom: 0.5em !important;
}

#searchr-input,
#searchr-submit {
  border-color: rgba(0, 0, 0, 0.25);
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
}

#searchr-input {
  background-color: hsla(0, 0%, 100%, 0.75);
}

#searchr-form:hover #searchr-input,
#searchr-input:focus {
  background-color: #fff;
}

#searchr-input:focus,
#searchr-input:focus + #searchr-submit {
  outline: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.075);
}

#searchr-submit {
  text-shadow: 0 1px 0 #fff;
  background: #eee !important;
  border-radius: 0 5px 5px 0;
}

#sidebar .trendtabs ul li .spinner {
  top: 9px;
  right: 15px;
}

#sidebar .tags ul {
  max-width: 210px;
}

#sidebar .tags a {
  padding: 4px 8px !important;
  background: rgba(0, 0, 0, 0.05);
  border: 0;
  border-radius: 4px;
}

#sidebar .tags a:active,
#sidebar .tags a:hover {
  background: rgba(0, 0, 0, 0.1);
  border: 0 !important;
}

#sidebar .stabs li a .count {
  font-weight: 400 !important;
}

#sidebar .colltab b {
  background-image: url(/assets/images/toggle_up.svg) !important;
  background-size: contain !important;
}

#sidebar .colltab b.collapse {
  background-image: url(/assets/images/toggle_down.svg) !important;
  background-size: contain !important;
}

#birthday li,
#savedsearchs li,
#trendtabs li {
  line-height: 24px !important;
}

#birthday li a,
#savedsearchs li a,
#trendtabs li a {
  font-size: 12px !important;
  font-weight: 400 !important;
}

#trendlist li {
  max-width: 234px;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#user_rec ul li.rec_usr {
  height: 36px !important;
  margin-bottom: 10px;
}

#user_rec ul li div.rec_user_info {
  margin-left: 42px !important;
  width: 150px !important;
}

.rec_usr_img img {
  height: 36px;
  border-radius: 2px;
}

.alist li a img {
  border-radius: 4px;
}

#sidebar .user-op a {
  background: rgba(0, 0, 0, 0.05)
    url(https://static2.fanfou.com/img/icon-block-user.gif?v=001) no-repeat 1px -14px !important;
}

#info #avatar {
  border: 0 !important;
}

#avatar img {
  border-radius: 4px;
}

#profile-protected {
  border: 0 !important;
  background: rgba(0, 0, 0, 0.05) url(/assets/images/protected.svg) no-repeat
    40px 30px !important;
  background-size: 40px 50px !important;
  border-radius: 10px;
  text-shadow: 0 1px 0 #fff;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

#profile-protected h3 {
  color: #666 !important;
}

#panel {
  padding: 0 !important;
  margin: 0 0 0 12px !important;
}

#panel h1 {
  font-size: 24px !important;
  font-weight: 400;
}

.overlay-leavemsg .bg {
  opacity: 0.9;
}

#content p.nc {
  border-style: solid;
  border-color: #eee;
}

.paginator {
  line-height: 30px;
}

#content .paginator {
  max-width: 500px;
}

#album .paginator {
  max-width: 700px;
}

.paginator li {
  margin: 0 3px !important;
}

.paginator li a,
.paginator li a:hover {
  padding: 5px 8px !important;
  border: 1px solid #eee !important;
}

.pagination .more {
  color: #666 !important;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.9);
  background: linear-gradient(#f5f5f5, #e5e5e5) !important;
  border-radius: 3px;
  border: 1px solid !important;
  border-color: #ddd #ddd #bbb !important;
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.5), 0 1px 3px rgba(0, 0, 0, 0.1);
}

.pagination .more:hover {
  background: linear-gradient(#f2f2f2, #e0e0e0) !important;
  border-color: #d5d5d5 #ccc #b5b5b5 !important;
}

.pagination .more:active {
  border-color: #bbb !important;
  box-shadow: inset 0 2px 5px hsla(0, 0%, 50.2%, 0.5);
}

.pagination .loading,
.pagination .loading:hover {
  background: transparent url(https://static2.fanfou.com/img/ajax.gif) no-repeat
    50% 50% !important;
}

.pagination .more-left {
  width: 100% !important;
}

.pagination .more-right {
  display: none;
}

.tabs {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15) !important;
}

.tabs li a {
  background: linear-gradient(180deg, #fff, #eee) !important;
  border: 1px solid rgba(0, 0, 0, 0.12) !important;
  border-bottom-color: rgba(0, 0, 0, 0.15) !important;
  padding: 3px 11px !important;
  margin-bottom: 1px !important;
  color: #666 !important;
  text-shadow: 0 1px 0 #fff;
}

.tabs li.current a {
  background: none !important;
  border-bottom-color: #fff !important;
  padding: 5px 12px !important;
}

.tabs li a:hover {
  background: linear-gradient(180deg, #eee, #ddd) !important;
}

.tabs li.current a:hover {
  background: transparent !important;
}

.tabs li a:active {
  background: linear-gradient(180deg, #ddd, #eee) !important;
}

#body .tabs {
  margin-bottom: 8px;
}

#main.privatemsg .tabs {
  margin-bottom: 0;
}

#footer .ui-roundedbox-content {
  padding: 5px 0;
}

#footer p {
  display: block;
  color: #999 !important;
  margin-top: 4px;
}

#footer .police {
  display: none;
}

#footer #miibeian {
  color: inherit;
  margin: 0 0.25em;
}

#pro_bas_detail {
  height: 150px;
}

.nf .pending {
  background: rgba(0, 0, 0, 0.05) !important;
  border-radius: 5px;
  text-shadow: 0 1px 0 #fff;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
}

#ZoomImage {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#sharer > h2 + span {
  margin-top: -24px;
}

#sidebar #reminder li {
  display: none;
}

.newfeature:after {
  color: #e63200 !important;
  margin-left: 3px;
}

#navigation .count {
  position: absolute;
  top: -2px;
  display: inline-block;
  background: #f44336;
  color: #fff;
  font-size: 12px;
  margin-left: -8px !important;
  padding: 2px;
  min-width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 50%;
  text-align: center;
  transform: scale(0.85);
}

#sidebar .stabs {
  overflow: hidden;
}

#sidebar .stabs li {
  position: relative;
  margin-bottom: 0 !important;
  line-height: 32px !important;
}

#sidebar .stabs li a {
  border-radius: 0;
}

#sidebar .stabs li.current a,
#sidebar .stabs li a:hover {
  background: hsla(0, 0%, 100%, 0.5);
}

#navtabs a[href='/mentions'] .count,
#navtabs a[href='/privatemsg'] .count {
  display: inline-block;
  background-color: #f44336;
  color: #fff;
  font-size: 12px;
  margin: 2px !important;
  padding: 2px;
  min-width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 50%;
  text-align: center;
  transform: scale(0.85);
}

#setmobile input[type='submit'],
.actions > .bl-added,
.bl,
.bl-long,
.post_act.close-notice,
.post_act.follower-remove,
.post_act.friend-deny,
.post_act.friend-remove,
.post_act.unblock,
input.formbutton,
input.inlinebutton {
  font-size: 12px;
  height: 19px !important;
  color: #333 !important;
  background: linear-gradient(
    0deg,
    #ebebeb 0,
    #ececec 50%,
    #f3f3f3 0,
    #fff
  ) !important;
  text-shadow: 0 1px 0 hsla(0, 0%, 100%, 0.25);
  text-decoration: none !important;
  white-space: nowrap;
  border: 1px solid #9a9a9a !important;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.75), 0 1px 0 rgba(0, 0, 0, 0.09);
  user-select: none;
}

#setmobile input[type='submit'],
input.formbutton,
input.inlinebutton {
  height: 25px !important;
  padding: 3px 15px;
}

#setmobile input[type='submit']:hover,
.actions > .bl-added:hover,
.bl-long:hover,
.bl:hover,
.post_act.close-notice:hover,
.post_act.follower-remove:hover,
.post_act.friend-deny:hover,
.post_act.friend-remove:hover,
input.formbutton:hover {
  animation-name: sf-bl-blinking;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

#setmobile input[type='submit']:focus,
.actions > .bl-added:focus,
.bl-long:focus,
.bl:focus,
.post_act.close-notice:focus,
.post_act.follower-remove:focus,
.post_act.friend-deny:focus,
.post_act.friend-remove:focus,
input.formbutton:focus {
  outline: none;
  border-color: #53baed !important;
  box-shadow: 0 0 8px rgba(83, 186, 237, 0.6);
}

a.bh {
  font-size: 12px;
  height: 19px !important;
  color: #333 !important;
  background: linear-gradient(
    0deg,
    #d3f7fd 0,
    #87c5fb 50%,
    #a1d1f9 0,
    #d4e9fc
  ) !important;
  text-shadow: 0 1px 0 hsla(0, 0%, 100%, 0.25);
  white-space: nowrap;
  border-color: #5a5caf #56578f #52536f;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.75), 0 1px 0 rgba(0, 0, 0, 0.09);
  user-select: none;
}

a.bh:hover {
  animation-name: sf-bh-blinking;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

a.bh:focus {
  outline: none;
  border-color: #53baed !important;
  box-shadow: 0 0 8px rgba(83, 186, 237, 0.6);
}

select {
  height: 25px;
  border-radius: 5px;
  border-color: #bdbdbd;
}

select:focus {
  outline: none;
  border-color: #2196f3;
}

#phupdate .formbutton,
#PopupBox .formbutton,
#update .formbutton {
  width: 115px !important;
  height: 32px !important;
  padding: 0 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #333 !important;
  letter-spacing: 0 !important;
  background: linear-gradient(
    0deg,
    #ebebeb 0,
    #ececec 50%,
    #f3f3f3 0,
    #fff
  ) !important;
  text-shadow: 0 1px 0 hsla(0, 0%, 100%, 0.25);
  white-space: nowrap;
  border: 1px solid #9a9a9a !important;
  border-radius: 5px;
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.75), 0 1px 0 rgba(0, 0, 0, 0.09);
}

#phupdate .formbutton:hover,
#PopupBox .formbutton:hover,
#update .formbutton:hover {
  animation: sf-bl-blinking 1s ease-in-out infinite;
}

#phupdate .formbutton:focus,
#PopupBox .formbutton:focus,
#update .formbutton:focus {
  outline: none;
  border-color: #53baed !important;
  box-shadow: 0 0 8px rgba(83, 186, 237, 0.6);
}

#phupdate .formbutton[disabled],
#PopupBox .formbutton[disabled],
#update .formbutton[disabled] {
  cursor: default;
  animation: none;
}

#phupdate .formbutton:active,
#PopupBox .formbutton:active,
#setmobile input[type='submit']:active,
#settings input.formbutton:active,
#update .formbutton:active,
.actions > .bl-added:active,
.bl-long:active,
.bl:active,
.post_act.close-notice:active,
.post_act.follower-remove:active,
.post_act.friend-deny:active,
.post_act.friend-remove:active,
a.bh:active {
  border-color: #5a5caf #56578f #52536f !important;
  background: linear-gradient(
    0deg,
    #d3f7fd 0,
    #87c5fb 50%,
    #a1d1f9 0,
    #d4e9fc
  ) !important;
  box-shadow: inset 0 999px 0 rgba(0, 115, 215, 0.3), inset 0 1px 0 #fff,
    0 1px 0 rgba(0, 0, 0, 0.09);
  animation-name: none;
}

.post_act.follower-remove,
.post_act.friend-deny,
.post_act.friend-remove {
  width: 75px;
}

#newsfeed-list li .bl-added {
  background: none !important;
  color: inherit !important;
  float: none !important;
  width: auto !important;
  height: auto !important;
  letter-spacing: 0 !important;
  text-indent: 0 !important;
}

.overlay-report {
  z-index: 3 !important;
}

#search-switch a {
  border-color: transparent;
  border-style: solid;
  border-width: 1px 0;
}

#search-switch .current:hover {
  background-color: #fff;
}

.react-tooltip-lite {
  background: #333;
  color: #fff;
  white-space: pre;
  border-radius: 4px;
}

.react-tooltip-lite-arrow {
  border-color: #333;
}

#sharer {
  padding-bottom: 0 !important;
}

#sharer form.nf {
  margin: 0;
}

#sharer .label_input {
  display: inline-block;
  margin-right: 10px;
  width: 45px;
  float: none;
  vertical-align: top;
}

#sharer .input_text,
#sharer textarea {
  width: 355px;
}

#sharer .act {
  margin: 0 0 8px 58px;
}

#sharer .formbutton {
  margin-left: 0;
  margin-right: 8px;
}

#sharer #sharer_img img {
  border: 1px solid #9e9e9e;
  border-radius: 4px;
}

#sharer .share_img_close {
  margin-left: -21px !important;
  cursor: pointer;
}

#sharer .share_img_close:hover {
  background-image: url(https://static.fanfou.com/img/icon-del.gif) !important;
  background-color: #5a5a5a;
}

@media (max-width: 775px) {
  #container {
    width: 540px;
  }

  #main {
    border-radius: 8px;
  }

  #navigation ul > li:nth-child(4),
  #navigation ul > li:nth-child(7),
  #sidebar {
    display: none;
  }

  #footer .ui-roundedbox-content {
    width: 525px;
    color: transparent;
  }

  #footer #miibeian,
  #footer a:nth-of-type(2n) {
    display: none;
  }

  #footer a:nth-of-type(odd) {
    margin-right: -1ex;
  }

  #pagination-totop {
    transform: translateX(527px);
  }
}
